# Django Settings
SECRET_KEY=django-insecure-some-development-secret-key-12345
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
# SQLite is used as fallback, PostgreSQL is default in production/docker
DATABASE_URL=postgres://postgres:postgres@localhost:5432/isologai

# Redis Stream & Celery Config
REDIS_URL=redis://localhost:6379/1
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/1

# Stream Configs
REDIS_STREAM_NAME=log-stream
REDIS_STREAM_GROUP=detection-group
REDIS_STREAM_CONSUMER=consumer-1
